<h2>Current reservations</h2>

<div class="row">
  <div class="col m8 offset-m2">
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Client</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
