<h2>Current reservations</h2>

<div class="row">
  <div class="col m8 offset-m2">
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Client</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% current_user.restaurant.reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.user.name %></td>
            <td><%= reservation.date.strftime('%A, %B %d, %Y') %></td>
            <td><%= reservation.time.strftime('%I:%M%p') %></td>
            <td>
              <%=  reservation.status %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
