// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
  font-size: 20px;
}

.num {
  color: #FC6453;
}

.admin_division {
  margin: 100px;
}

.reservation-btn {
  width: auto;
  margin-bottom: 80px;
}

.select-wrapper {
  margin-right: 30px;
}

.date-time-select {
  display: flex;
  justify-content: flex-start;

  @media(max-width: 650px) {
    display: block;
  }
}
