// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-container {
  .card {
    width: 100%;
  }
}

.card-title {
  .restaurant {
    font-size: 30px;
    color: $color4;
  }
}

.username {
  font-family: 'Kaushan Script', cursive;
  color: #FC6453;
}

.reser.restaurant_name {
  font-size: 25px;
  margin-bottom: 25px;
  color: #FC6453 !important;
}

.status {
  font-weight: bold;
  color: $color4 !important;
}
